/* Button */
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary {
    background-color: #2BA31D;
    border-color: #2BA31D;
    color: #FFF;
}

.btn-outline-primary:hover {
    background-color: #2BA31D;
    color: #FFF;
}

/* Form */
.form-control:active, .form-control:focus {
    border-color: #A3A2B0;
    outline: none !important;
    box-shadow: none;
}

.form-group .is-invalid:active, .form-group .is-invalid:focus {
    border-color: #E3342F;
    outline: none !important;
    box-shadow: none;
}

/* Sidebar */
.sidebar {
    border-right: 1px solid #EEE; 
}

.sidebar .brand {
    color: #2BA31D;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    margin-left: -23px;
    padding-left: 25px;
}

.sidebar ul li.active {
    border-left: 2px solid #D27265;
    padding-left: 23px;
}

.sidebar ul li.active a {
    color: #D27265;
}

.sidebar ul li a, .sidebar a {
    color: #F3AA96;
}

.sidebar ul li a:hover, .sidebar a:hover, .sidebar a:active, .active-text {
    color: #D27265 !important;    
}

/* content */
.icon-card {
    font-size: 30px;
}

.card .card-body .content-card {
    margin-top: -5px;
}

.last-activity .col-12 .card .card-body .row .col-8 {
    border-right: 2px solid #A3A2B0;
}

.table thead {
    background-color: #EEE;
}

.table * {
    border: none !important;         
}

.table tbody tr {
    border-bottom: 1px solid #EEE !important;
}

/* etc */
a {
    text-decoration: none !important;
}

.text-primary {
    color: #2BA31D !important;
}

.auth-wrap a:hover {
    color: #A3A2B0 !important;
}

.icon-small-primary {
    font-size: 8px;
    color: #F3AA96;
}

.icon-small-success {
    font-size: 10px;
    color: #2BA31D;
}

.icon-small-danger {
    font-size: 10px;
    color: #F80117;
}

.text-success {
    color: #2BA31D !important;
}

.text-danger {
    color: #F80117 !important;
}

.pagination .active .page-link {
    background-color: #2BA31D;
    border-color: #2BA31D;
}

.middle-side {
    border-right: 1px solid #EEE;
}

.row .col-6 .hover-a:hover {
    color: #A3A2B0 !important;
}
